.copyright__text {
  text-transform: uppercase;
}

.copyright__link {
  display: flex;
  color: #000000;
  align-items: center;
  text-decoration: none;
  margin-left: 10px;
}

.copyright__link-icon {
  fill: #000000;
  width: 49px;
}
