.gallery-list {
  padding-top: 30px;

  @include tablet {
    padding: 66px 60px 60px;
  }

  @include desktop {
    padding: 0;
    padding-top: 102px;
  }
}

.gallery__item {
  @include tablet {
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  @include desktop {
    position: relative;
  }
}

.gallery-list__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0 auto 24px;

  @include tablet {
    margin-bottom: 33px;
    font-size: 30px;
    line-height: 26px;
  }
}

.gallery-list__discription {
  text-transform: uppercase;
  color: #000000;
  margin: 0 20px 46px;

  @include tablet {
    margin-bottom: 67px;
    padding: 0 90px;
  }

  @include desktop {
    margin-bottom: 84px;
    padding-left: 360px;
    padding-right: 360px;
  }
}
