.hotel-search {
  padding: 0 15px;
}

.hotel-search__title {
  margin-top: 38px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.hotel-search__description {
  text-transform: uppercase;
  margin-bottom: 32px;
}

.hotel-search__button {
  margin-bottom: 49px;
}
