.intro__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  margin: 0 6px 0 3px;

  @include tablet {
    font-size: 21px;
  }
}

.intro__text-wrapper {
  padding: 32px 25px 7px;
  position: relative;

  @include tablet {
    padding: 47px 124px 41px;
  }

  @include desktop {
    padding: 59px 350px 30px;
  }
}

.intro__text {
  text-transform: uppercase;
  margin-top: 35px;
  color: #333333;

  @include desktop {
    margin-top: 28px;
  }

  @include tablet {
    margin-top: 28px;
    margin-bottom: 15px;
  }
}

.intro__image-wrapper {
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #81b3d2;
  position: relative;
  background-position: center;
  height: 389px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  @include tablet {
    background-image: url("../img/back-desktop.jpg");
    padding-top: 77px;
    padding-bottom: 91px;
    height: 350px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }

  &--first {
    &::after {
      content: "";
      background-image: url("../img/logo-index-text.svg");
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      width: 282px;
      height: 214px;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 197px;
    }
  }

  &::before {
    position: absolute;
    background-image: url("../img/intro-triangle.svg");
    content: "";
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    height: 57px;
    bottom: 0;
    left: 0;
  }
}

@include tablet {
  .intro__image-wrapper--first::after {
    width: 461px;
    height: 350px;
    top: 251px;
  }
}

@include desktop {
  .intro__image-wrapper--first::after {
    top: 254px;
  }
}
