.main-container {
  flex-grow: 1;
}

.main-container__intro-second {
  height: 158px;
  width: 100%;
  background-image: url("../img/back-mobile-second.jpg");
  background-position: 0 -56px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #81b3d2;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile-second@2x.jpg");
  }

  @include tablet {
    background-image: url("../img/back-tablet-second.jpg");
    padding: 0;
    height: 290px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet-second@2x.jpg");
    }
  }

  @include desktop {
    background-image: url("../img/back-desktop-second.jpg");
    height: 300px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop-second@2x.jpg");
    }
  }

  &::after {
    content: "";
    background-image: url("../img/logo-sedona-text.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 229px;
    height: 39px;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
  }

  &::before {
    position: absolute;
    background-image: url("../img/intro-triangle.svg");
    content: "";
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    height: 57px;
    bottom: 0;
    left: 0;
  }
}

@include tablet {
  .main-container__intro-second::after {
    width: 459px;
    height: 80px;
    top: 135px;
  }
}

@include desktop {
  .main-container__intro-second::after {
    top: 47%;
    left: 598px;
  }
}
