.main-form__intro-wrap {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding-bottom: 44px;

    &::after {
      content: "";
      position: absolute;
      background-color: #dbdbdb;
      height: 336px;
      width: 1px;
      transform: translateX(50%);
      left: 322px;
    }
  }

  @include desktop {
    padding-bottom: 49px;
  }
}

@include desktop {
  .main-form__intro-wrap::after {
    left: 492px;
  }
}

.main-form {
  width: 320px;
  margin: 0 auto;

  @include tablet {
    width: 648px;
  }

  @include desktop {
    width: 960px;
  }
}

.main-form__title {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 24px;

  @include tablet {
    padding-top: 0;
    width: 100%;
    max-width: 402px;
    margin-left: 18px;
    font-size: 21px;
    margin-bottom: 31px;
  }

  @include desktop {
    margin-left: 33px;
  }
}

.main-form__label {
  display: block;
  text-align: left;
  text-transform: uppercase;
  padding-left: 15px;
  margin-top: -3px;
  color: #333333;

  @include desktop {
    padding-left: 17px;
    margin-top: 0;
  }
}

.main-form__input {
  width: 280px;
  background-color: #f2f2f2;
  border: 4px solid #f2f2f2;
  margin-bottom: 19px;


  &:hover {
    border-color: #e5e5e5;
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    outline: none;
  }

  @include desktop {
    width: 430px;
    margin-bottom: 15px;
  }
}

.main-form__input::placeholder {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.main-form__button {
  margin-top: 29px;
  width: 280px;

  @include tablet {
    margin-top: 0;
    width: 324px;
    padding-right: 7px;
  }

  @include desktop {
    width: 384px;
  }
}

.main-form__button-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 11px;
  position: relative;

  @include tablet {
    display: flex;
    justify-content: space-between;
    width: 648px;
    align-items: center;
    padding: 42px 0 76px;
  }

  @include desktop {
    width: 768px;
    padding: 33px 97px 73px;
  }
}

.main-form__section {
  max-width: 320px;
  border: none;
  border-bottom: solid 1px #e5e5e5;
  padding: 26px 20px 18px;
  margin: 0;

  &--emotions {
    border-bottom: none;
  }

  @include tablet {
    max-width: 100%;
    border-bottom: none;
    border-top: solid 1px #dbdbdb;
    padding: 0;
  }

  @include desktop {
    margin-bottom: 8px;
  }
}

.main-form__rule {
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  text-align: right;
  font-size: 12px;
  margin-top: 3px;

  @include tablet {
    font-size: 14px;
    margin-top: 23px;
  }
}

.main-form__name,
.main-form__contacts {
  @include tablet {
    border: none;
  }
}

.main-form__oppinion {
  padding-bottom: 17px;
}
