.main-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;

  @include tablet {
    width: 648px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px 36px 60px;
  }

  @include desktop {
    width: 960px;
    padding: 27px 120px 36px;
  }

  &--second {
    @include tablet {
      padding: 25px 60px 36px 60px;
    }

    @include desktop {
      width: 960px;
      padding: 27px 120px 36px;
    }
  }
}



.main-footer__social {
  margin-bottom: 36px;
  margin-top: 13px;
  margin-left: 2px;

  @include tablet {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 0;
  }
}
