.main-header {
  position: relative;
  background-color: #ffffff;

  @include tablet {
    display: flex;
  }
}

.main-header__logo {
  margin: 0;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);

  @include tablet {
    position: absolute;
    justify-self: center;
    z-index: 10;
  }
}

.main-header__logo-image {
  display: block;
}
