.reasons {
  counter-reset: reasons;
}

.reasons__container {
  display: flex;
  flex-direction: column;

  @include tablet {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  &--bridge {
    background-color: #81b3d2;
    color: #ffffff;
    margin: 0;

    @include tablet {
      flex-direction: row-reverse;
    }
  }

  &--city {
    position: relative;
    background-color: #81b3d2;
    color: #ffffff;
    margin: 0;

    @include tablet {
      flex-direction: row;
    }
  }

  &::before {
    @include mobile {
      position: absolute;
      background-image: url("/img/triangle-index.svg");
      content: "";
      width: 100%;
      height: 37px;
      bottom: 0;
      left: 0;
      top: -5px;
    }
  }
}

.reasons__item {
  display: flex;
  flex-direction: column;
  padding: 21px 20px 37px 20px;
  box-sizing: border-box;

  &--town {
    padding-top: 47px;
    padding-bottom: 40px;
  }

  @include mobile {
    width: 100%;
  }

  @include tablet {
    min-height: 256px;
    width: 256px;
    box-sizing: border-box;
    padding: 32px;
  }

  @include desktop {
    width: 400px;
    padding-top: 26px;
  }

  &--places {
    background-color: #eeeeee;
    padding: 6px 31px 25px 29px;
    min-height: 167px;

    @include tablet {
      padding: 31px 27px 53px;
    }

    @include desktop {
      padding: 37px 57px 20px;
    }
  }

  &--places:nth-child(2) {
    @include tablet {
      padding: 20px 48px 33px 47px;
    }

    @include desktop {
      padding: 26px 48px 33px 47px;
    }
  }

  &--order::before {
    display: block;
    counter-increment: reasons;
    content: "— №" counter(reasons) " —";
    order: 2;
    margin-bottom: 17px;
  }

  &--live,
  &--food,
  &--gift {
    position: relative;
    padding: 7px 10px 8px 15px;

    @include tablet {
      padding: 128px 15px 5px 15px;
    }

    @include desktop {
      padding-top: 142px;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 13px;
    }
  }

  &--live::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -31px;
    top: 25px;

    @include tablet {
      width: 75px;
      height: 72px;
      background-size: cover;
      left: 35%;
      top: 18%;
    }

    @include desktop {
      top: 67px;
      left: 199px;
      transform: translateX(-50%);
    }
  }

  &--food::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -31px;
    top: 25px;

    @include tablet {
      width: 79px;
      height: 69px;
      background-size: cover;
      left: 34%;
      top: 18%;
    }

    @include desktop {
      top: 71px;
      left: 196px;
      transform: translateX(-50%);
    }
  }

  &--gift {
    @include tablet {
      padding-top: 125px;
      padding-left: 39px;
      padding-right: 42px;
    }

    @include desktop {
      padding-top: 144px;
      padding-left: 39px;
      padding-right: 42px;
    }
  }

  &--food {
    @include tablet {
      padding-top: 128px;
      padding-left: 52px;
      padding-right: 52px;
    }

    @include desktop {
      padding-top: 140px;
    }
  }

  &--live {
    @include tablet {
      padding-top: 130px;
      padding-left: 42px;
      padding-right: 43px;
    }

    @include desktop {
      padding-top: 142px;
      padding-left: 51px;
      padding-right: 51px;
    }
  }

  &--gift::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -28px;
    top: 25px;

    @include tablet {
      width: 66px;
      height: 79px;
      background-size: cover;
      left: 38%;
      top: 18%;
    }

    @include desktop {
      top: 65px;
      left: 198px;
      transform: translateX(-50%);
    }
  }
}

@include mobile {
  .reasons .reasons__item--places:not(:last-child)::after {
    content: "";
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    padding: 0 70px;
    width: 145px;
    position: relative;
    order: 4;
    border-bottom: 1px solid #d6d6d6;
  }
}

.reasons__container-food-etc {
  padding: 0 8px 44px 50px;
  list-style: none;
  text-align: left;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
    height: 100%;
  }
}

.reasons__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  order: 1;
  margin-bottom: 10px;

  @include tablet {
    font-size: 21px;
    margin-bottom: 13px;
    margin-left: 7px;
    margin-right: 7px;
  }

  @include desktop {
    margin-top: 26px;
    margin-left: 70px;
    margin-right: 70px;
  }
}

.reasons__description {
  text-transform: uppercase;
  order: 2;
  margin: 0;

  @include tablet {
    margin-top: 5px;
    margin-bottom: 0;
  }

  @include desktop {
    margin-top: 7px;
    margin-bottom: 19px;
  }

  &--additional {
    margin-top: 7px;
    margin-bottom: -7px;
    color: #333333;
  }
}

.reasons__item--places .reasons__description {
  color: #333333;
}

@include tablet {
  .reasons__description--additional {
    margin-top: 10px;
    margin-bottom: 56px;
  }
}

.reasons__picture {
  width: 100%;
  display: block;
  object-fit: cover;

  @include tablet {
    width: 512px;
    height: 100%;
  }

  @include desktop {
    width: 800px;
  }
}

@include tablet {
  .reasons__item--city,
  .reasons__item--bridge {
    display: flex;
    width: 768px;
  }
}

.reasons__wrap-city,
.reasons__wrap-bridge {
  width: 100%;
}
