.reasons {
  counter-reset: reasons;
}

.reasons__container {
  display: flex;
  flex-direction: column;

  @include tablet {
    display: flex;
    flex-direction: row;
  }

  &--bridge {
    background-color: #81b3d2;
    color: #ffffff;
    margin: 0;

    @include tablet {
      flex-direction: row-reverse;
    }
  }

  &--city {
    position: relative;
    background-color: #81b3d2;
    color: #ffffff;
    margin: 0;

    @include tablet {
      flex-direction: row;
    }
  }

  &::before {
    @include mobile {
      position: absolute;
      background-image: url("/img/triangle-index.svg");
      content: "";
      width: 767px;
      height: 37px;
      bottom: 0;
      left: 0;
      top: -5px;
    }
  }
}

.reasons__item {
  display: flex;
  flex-direction: column;
  padding: 21px 20px 37px 15px;
  box-sizing: border-box;


  &--town {
    padding-top: 47px;
    padding-bottom: 40px;
  }

  @include mobile {
    width: 100%;
  }

  @include tablet {
    min-height: 256px;
    width: 256px;
    box-sizing: border-box;
    padding: 17px 32px 32px;
  }

  @include desktop {
    width: 400px;
    padding-top: 26px;
  }

  &--places {
    background-color: #eeeeee;
    padding: 7px 30px 27px 32px;

    @include tablet {
      padding: 19px 47px 27px 49px;
    }

    @include desktop {
      padding: 19px 52px 27px 49px;
    }
  }

  &--order::before {
    display: block;
    counter-increment: reasons;
    content: "— №" counter(reasons) " —";
    order: 2;
    margin-bottom: 17px;
  }

  &--live,
  &--food,
  &--gift {
    position: relative;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-right: 10px;

    @include tablet {
      padding-top: 128px;
      padding-right: 32px;
    }
  }

  &--live::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -31px;
    top: 25px;

    @include tablet {
      width: 75px;
      height: 72px;
      background-size: cover;
      left: 35%;
      top: 18%;
    }

    @include desktop {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--food::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -31px;
    top: 25px;

    @include tablet {
      width: 76px;
      height: 68px;
      background-size: cover;
      left: 35%;
      top: 18%;
    }

    @include desktop {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--gift::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -31px;
    top: 25px;

    @include tablet {
      width: 64px;
      height: 75px;
      background-size: cover;
      left: 36%;
      top: 17%;
    }

    @include desktop {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@include mobile {
  .reasons .reasons__item--places:not(:last-child)::after {
    content: "";
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    padding: 0 70px;
    width: 70%;
    position: relative;
    border-top: 1px solid #d6d6d6;
  }
}

.reasons__container-food-etc {
  padding: 0 8px 52px 50px;
  list-style: none;
  text-align: left;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
    height: 330px;
  }
}

.reasons__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  order: 1;
  margin-bottom: 10px;

  @include tablet {
    font-size: 21px;
    margin-bottom: 13px;
  }

  @include desktop {
    margin-left: 70px;
    margin-right: 70px;
  }
}

.reasons__description {
  text-transform: uppercase;
  order: 2;
  margin: 0;

  @include tablet {
    margin-top: 7px;
  }

  &--additional {
    margin-top: 7px;
    margin-bottom: -7px;

    @include tablet {
      margin-top: 10px;
    }
  }
}

.reasons__picture {
  width: 100%;
  display: block;
  object-fit: cover;

  @include tablet {
    width: 512px;
    height: 256px;
  }

  @include desktop {
    width: 800px;
  }
}

@include tablet {
  .reasons__item--city,
  .reasons__item--bridge {
    display: flex;
    width: 768px;
  }
}

@include desktop {
  .advantages__item {
    width: 400px;
  }

  .advantages__item--city,
  .advantages__item--bridge {
    width: 1200px;
  }
}

.reasons__wrap-city,
.reasons__wrap-bridge {
  width: 100%;
}
