.site-list {
  font-weight: 700;
  background-color: #81b3d2;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;

  @include tablet {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
  }
}

.site-list__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-top: 17px;
  padding-bottom: 12px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @include tablet {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-align: center;
    width: 153px;
    box-shadow: none;
  }

  @include desktop {
    width: 240px;
    box-shadow: none;
  }

  &--active {
    @include tablet {
      color: #766357;
    }
  }
}

@include tablet {
  .site-list__link:nth-child(2) {
    margin-right: 153px;
  }
}

@include desktop {
  .site-list__link:nth-child(2) {
    margin-right: 240px;
  }
}

.site-list__link:hover {
  @include tablet {
    color: #81b3d2;
  }
}

.site-list__link:active {
  color: rgba(#ffffff, 0.3);

  @include tablet {
    color: rgba(#000000, 0.3);
  }
}
