.site-list {
  font-weight: 700;
  background-color: #81b3d2;
  display: flex;
  flex-direction: column;
  z-index: 10;

  &--closed {
    display: none;
  }

  &--opened {
    position: absolute;
    width: 100%;
  }
}

.site-list__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-top: 17px;
  margin-bottom: 12px;
  text-transform: uppercase;
}
