.social {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 6px;
  margin-bottom: 38px;
  justify-content: center;

  @include tablet {
    margin-left: 18px;
    margin-bottom: 0;
  }
}

.main-footer--second .social {
  @include tablet {
    margin-left: 102px;
    margin-right: 92px;
    margin-bottom: 0;
  }

  @include desktop {
    margin-left: 260px;
    margin-right: 247px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #81b3d2;
  width: 48px;
  height: 48px;
  color: #ffffff;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.social__icon {
  fill: #ffffff;
}

.social__link:active svg {
  opacity: 0.3;
}
